<p id="notice"><%= notice %></p>

<h1>Minhas listas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="container">
      
      <div class="row">
        <% @lists.each do |list| %>
        <div class="col-sm-3" style="background-color:yellow; margin:10px;">
          <p>
            <%= link_to list.title, list %>
            <%= link_to 'Editar', edit_list_path(list), :class => "pull-right" %>
          </p>
          <p>Cridada em: <%=list.created_at.strftime("%d/%m/%Y")%></p>
          
          <ul style="list-style-type: square; padding: 15px;">
            <% first_three(list).each do |item| %>
              <li><%= item.text %></li>
            <% end %>
          </ul>
          
        </div>
        <% end %>
      </div>
      
    </div>
  </tbody>
</table>

<br>

<%= link_to 'Nova lista', new_list_path %>
