<div style="margin-bottom: 80px;">
    <h1 class="text-center"><%=@list.title%></h1>

    <h3 class="text-center"><%= t('activerecord.attributes.list.created_at') + ': ' + @list.created_at.strftime(t('time.formats.date'))%></h3>
</div>

<div>
    <div class="col-sm-8 col-md-offset-2" style="margin-bottom: 25px;">
        <h3><%= t('activerecord.models.item.other') %>:
            <div class="pull-right">
                <%= link_to t('actions.new') + " " + t('activerecord.models.item.one'), new_list_item_path(@list) %> |
                <%= link_to t('actions.edit') + " " + t('activerecord.models.list.one'), edit_user_list_path(current_user,@list) %>
            </div>
        </h3>
    </div>
    <div class="col-sm-8 col-md-offset-2">
        <ul class="list-group">
            <% @list_items.each do |i| %>
                <li class="list-group-item">
                    <%= i.text %>
                    <div class="pull-right">
                        <%= link_to edit_list_item_path(i.list, i) do %>
                            <i class="fa fa-pencil fa-fw"></i>
                        <% end %>
                        <%= link_to(list_item_path(i.list, i), method: :delete, data: { confirm: t('texts.confirmation') }, :remote => true, :class => 'delete_list_item') do %>
                            <i class="fa fa-trash-o fa-fw"></i>
                        <% end %>
                    </div>
                </li>
            <% end %>
            <%= link_to t('actions.back'), user_lists_path(current_user), :class => "btn btn-default" %>
            <%= paginate @list_items %>
        </ul>
    </div>
</div>
