<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
        <td><%=@list.title%></td>
    </tr>
    <tr>
        <td><%=@list.description%></td>
    </tr>
    <tr>
        <td>Lista criada em </td>
        <td><%=@list.created_at.strftime("%d/%m/%Y")%></td>
    </tr>
  </tbody>
</table>



<% @list.items.each do |i| %>
    
<% end %>

<%= link_to 'Editar', edit_list_path(@list) %> |
<%= link_to 'Minhas listas', lists_path %>
