<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= t('menus.users') %></h1>

<% @users.each do |user| %>
  <div class="cols-md-12" style="margin:20px">
    <%= gravatar_for(user) %> 
    <%= link_to user.name, user %></td>
    <%= user.email %></td>
    <% if user == current_user %>
      <%= link_to 'Editar', edit_user_path(user) %>
    <% end %>
  </div>
<% end %>

