<div class="col-md-12">
    <div class="title">
        <h2><span>Listas</span> mais recentes</h2>
    </div>
    <% if !@recent_lists.empty? %>
        <% @recent_lists.each_with_index do |list, index| %>
            <% if index > 0 %>
                <div class="col-md-1">
                </div>
            <% end %>
            <a href="#" data-toggle="modal" data-target="#list_details<%= list.id %>">
                <div class="col-md-2 list">
                    <%= image_tag list.list_category.photo%>
                    <h3><%= list.title %></h3>
                    <div class="description">
                        <%= list.description %>
                    </div>
                </div>
            </a>
            <%= render 'lists/details', :list => list %>
        <% end %>
        <div class="col-md-1">
            <%= link_to "Ver todas", lists_url, :class => "pull-right" %>
        </div>
    <% else %>
        <p class="text-center">Não existem listas cadastradas.</p>
    <% end %>
</div>