<section id=""><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <div class="login-form"><!--login form-->
          <h2>Login</h2>
          <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group">
              <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, placeholder: 'Senha', class: 'form-control' %>
            </div>

            <%= f.submit "Login", class: 'btn btn-success' %>
          <% end %>
        </div><!--/login form-->
      </div>
      <div class="col-sm-1" style="text-align:center">
        <div class="or"> </div>
      </div>
      <div class="col-sm-4">
        <div class="signup-form"><!--sign up form-->
          <h2>Cadastro</h2>
          <%= simple_form_for(@user, defaults: { input_html: { class: 'form-control' }, label:false }) do |f| %>
            <%= render 'users/form', f: f %>
            <%= f.submit "Cadastrar", class: "btn btn-success" %>
          <%end%>
        </div><!--/sign up form-->
      </div>
    </div>
  </div>
</section><!--/form-->
